<button (click)="addFilm()">Add new film</button>

<form (ngSubmit)="getFilms()">

  <label for="input-title" id="label-title">Title: </label>
  <input type="text" name="input-title" id="input-title" placeholder="..." [(ngModel)]="titleSearch" />

  <label for="input-genre" id="input-genre-label"> Genre: </label>
  <select name="input-genre" id="input-genre" [(ngModel)]="genreId">
    <option *ngFor="let genre of genres" [ngValue]="genre.id"> {{ genre.genre }}</option>
  </select> <!-- ngValue ==> the thing ngModel binds -->

  <input type="submit" value="Search" />
</form>

<br>
<button (click)="clearSearch()">Clear search</button>


<div *ngIf="page">
  <!-- the genreId condition must exist because the ger requests return different
  page object - one returns Page, while the other returns PageListHolder -->
  <div *ngIf="genreId < 0">
    <button [disabled]="page.first"  (click)="prev()"> Previous</button>
    <button [disabled]="page.last" (click)="next()"> Next </button>
    <br>
    <button [disabled]="page.first" (click)="getFilms()"> First </button>
    <button [disabled]="page.last" (click)="lastPage()">Last</button>
  </div>

  <div *ngIf="genreId > 0">
    <button [disabled]="page.firstPage"  (click)="prev()"> Previous</button>
    <button [disabled]="page.lastPage" (click)="next()"> Next </button>
    <br>
    <button [disabled]="page.firstPage" (click)="getFilms()"> First </button>
    <button [disabled]="page.lastPage" (click)="lastPage()">Last</button>
  </div>

  <br>
  <div *ngIf="genreId < 0 ">
  <table class="table table-striped table-hover">
    <thead>
      <th>
        Film
      </th>
      <th>
        Genre
      </th>
      <th>
        Location in storage
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let film of page.content">
        <td>
          {{ film.title }} ({{ film.year }})
        </td>
        <td>
          <div *ngIf="film.genres.length > 0">
            <p>Genres:</p>
            <ul *ngFor="let genre of film.genres">
              <li>, {{ genre.genre }}</li>
            </ul>
          </div>
        </td>
        <td>
          {{ film. storage }}
        </td>
        <td>
          <button (click)="details(film.id)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- has to be like this because the above return a page,
while the below return pageListHolder (and that returns page.pageList, NOT page.content )-->

<div *ngIf="genreId > 0 ">
  <table class="table table-striped table-hover">
    <thead>
      <th>
        Film
      </th>
      <th>
        Genre
      </th>
      <th>
        Location in storage
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let film of page.pageList">
        <td>
          {{ film.title }} ({{ film.year }})
        </td>
        <td>
          <div *ngIf="film.genres.length > 0">
            <p>Genres:</p>
            <ul *ngFor="let genre of film.genres">
              <li>{{ genre.genre }}</li>
            </ul>
          </div>
        </td>
        <td>
          {{ film. storage }}
        </td>
        <td>
          <button (click)="details(film.id)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
